{% extends 'base.html' %}

{% block main %}
<form  action="/search/" method="get">
<br>
 <div class="input-group" id="ytsearch">
<div class="col-10">
  <input id = "ytsearch-text" class="form-control typeahead  border-primary"" type="text" placeholder={{search_text}} name="ytsearch-text">
</div>
<div class="col-2">
  <button type="submit" class="btn btn-primary" id="btn-ytsearch">Search</button>
</div>
 </div>
</form>

{% if data %}
<br>
{% for video in data %}

<div class="row mx-auto my-2">
	<div class="col-4">
		<img src="{{video.thumb}}" />
</div>
<div class="col-7 mr-auto">
		<a href="{{url_for('video',id=video.videoId)}}">{{video.name}}</a>
</div>
</div>

{% endfor %}

{% endif %}

{% endblock %}

  {% block js %}
  {% endblock %}